---
layout: basepage
---

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <h1 class="post-title">{{ page.title }}</h1>

        {{ page.content }}
        
        <ul class="contact-info">
            {% if page.email %}
            <a href="mailto:{{ page.email }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ page.email }}
                <span class="badge badge-primary badge-pill"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            </a>
            {% endif %}
            {% if page.phone %}
            <a href="tel:{{ page.phone }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ page.phone }}
                <span class="badge badge-primary badge-pill"><i class="fa fa-phone" aria-hidden="true"></i></span>
            </a>
            {% endif %}
            {% if page.website %}
            <a href="{{ page.website }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ page.website }}
                <span class="badge badge-primary badge-pill"><i class="fa fa-globe" aria-hidden="true"></i></span>
            </a>
            {% endif %}
        </ul>
    </div>
</div>
